
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&family=Tienne:wght@400;700;900&display=swap');
@import "tailwindcss";
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

@theme {
  --font-rubik: "Rubik Mono One", monospace;
  --font-tienne: "Tienne", serif;
  --color-main: #E3C957;
	--color-secondary: #282726;
}

